form {
  padding: 10px 0 20px 20px;
  background-color: #213b50;
  width: 50%;
  color: #ffffff;
}

label {
  margin: 10px 0 5px 0;
  display: block;
  outline: 0;
}
select {
  color: #ffffff;
  outline: 0;
}

p {
  margin: 10px 0 5px 0;
}

select,
textarea,
input:not([type="radio"]) {
  background-color: #2b4a64;
  border: 1px solid #2b4a64;
  padding: 5px;
  width: 50%;
}

input[type="checkbox"] {
  display: inline-block;
  width: auto;
}

textarea {
  width: 50%;
  height: 100px;
}

textarea:focus,
input:focus,
select:focus {
  background-color: #4e708c;
  border: 1px solid #ffffff;
  outline: 0;
}

label[for*="male"],
label[for="agreement"] {
  display: inline;
}

input[type="submit"] {
  color: #ffffff;
  background-color: #06ad00;
  font-size: 20px;
  font-weight: bold;
  margin: 30px 0 30px 0;
  width: 20%;
  text-transform: uppercase;
}
